.container-content {
    width: 1000px;
    margin: 0 auto;
}
.content-position {
    padding-top: 100px;
}

.header {
    background: url("../images/bg1.jpg") no-repeat fixed center /cover;
    box-shadow:0 0 0 282px rgba(0, 0, 0, 0.8) inset;
    clip-path: polygon(50% 0, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}
.header-menu-position {
    position: absolute;
    top: 30px;
    width: 100%;
}
.logo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 36px;
    padding: 30px 0;
}
.logo-blue {
    color: #24b4ce;
    font-weight: 700;
}
.header-menu-bg {
    background: white;
}
.header-menu-and-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-menu {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #3e4c4e;
    padding-left: 40px ;
}
.header-menu-blue {
    color: #24b4ce;
}
.header-content {
    padding: 230px 0 150px;
}
.header-content-item {
    padding-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 52px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: white;

}
.block-title {
    color: #24b4ce;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    /*padding-top: 120px;*/
}
.block-subtitle-dark {
    color: #3e4c4e;
}
.block-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 0 30px;
    text-align: center;
}
.text-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #3e4c4e;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    padding-bottom: 100px;
}

.logo-companies-bg {
    background: url("../images/bg2.jpg") no-repeat fixed center /cover;
    box-shadow:0 0 0 410px rgba(0, 0, 0, 0.8) inset;
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0, 50% 10%);
}
.block-subtitle-white {
    color: white;
}
.logo-adobe-bg{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-adobe {
     padding: 15px 0 15px 15px;
}
.logo-adobe-text {
    padding-right: 15px;
}
.logo-images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 80px;
}
.logo-position {
    padding: 60px 24px;
}
.people-content {
    display: flex;
}
.people-item {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
}
.people-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #3e4c4e;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    padding-top: 20px;
}
.quote {
    background: url("../images/bg3.jpg") no-repeat fixed center /cover;
    box-shadow:0 0 0 410px rgba(0, 0, 0, 0.8) inset;
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0, 50% 10%);
}
.quote-text {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    color: white;
    padding: 43px 0 20px;
    line-height: 25px;
}
.quote-author {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: end;
    font-style: italic;
    color: white;
    padding: 0 60px 100px 0;

}
.footer-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    padding-top: 15px;
    color: #3e4c4e;
}
.copyright {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #3e4c4e;
    padding-top: 113px;
}
.designer {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #3e4c4e;
    padding: 10px 0 104px;
}
.designer-name {
    font-weight: 600;
}
